/* 共通 */
* {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2 {
    margin-top: 40px;
    font-weight: bold;
}

.btn {
    width: 100px;
    height: 40px;
}

.btn:hover {
    opacity: 0.5;
}

/* form.php */
#form {
    margin: 40px 0;
}

.textbox {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-bottom-color: gray;
    border-style: solid;
    background-color: #fafafa;
    width: 200px;
    height: 30px;
}

textarea {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-bottom-color: gray;
    border-style: solid;
    background-color: #fafafa;
}

/* confirm.php */
#table {
    border-top: solid 1px gray;
}

.left {
    border-bottom: solid 1px gray;
    width: 200px;
    height: 30px;
}

.right {
    border-bottom: solid 1px gray;
    width: 300px;
    height: 30px;
}

.message {
    min-height: 60px;
}